@import "../../styles/_constants.scss";

.project-showcase-container {
  background-color: white;
  margin: 0;
  padding: 75px 5%;
  // color: white;

  // .bar-sm {
  //   width: 3em;
  //   height: 0.35em;
  //   background-color: #0025f8;
  //   margin: 10px 15px;
  //   padding: 0 10px;
  // }

  .project {
    background-color: white;
    color: $backgroundcolor;
    box-shadow: 0px 0px 5px 1px #ccc;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px;
  }

  .project-head {
    color: $backgroundcolor;
    font-weight: bold;
  }

  .project-text {
    padding: 8px;
    color: black;

    a {
      text-decoration: none;
      font-size: 30px;
      margin: auto;
      display: block;
      color: $backgroundcolor;
      text-align: center;
      font-weight: bold;

      &:hover {
        color: $backgroundcolor2;
      }
    }
  }
}

// .project-pic {
//   @media (mid-width: $md) {
//     padding-left: 10%;
//     padding-bottom: 10%;
//   }
// }
