.project-showcase-container {
  background-color: #808cfb;
  margin: 0;
  padding: 50px 3%;
  color: white;

  // .bar-sm {
  //   width: 3em;
  //   height: 0.35em;
  //   background-color: #0025f8;
  //   margin: 10px 15px;
  //   padding: 0 10px;
  // }

  .project {
    background-color: #d2d2ff;
    color: #606bca;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
  }
  .project-text a {
    text-decoration: none;
    font-size: 30px;
    margin: auto;
    display: block;
    color: navy;
    text-align: center;

    &:hover {
      text-decoration: underline navy;
    }
  }
}

// .project-pic {
//   @media (mid-width: $md) {
//     padding-left: 10%;
//     padding-bottom: 10%;
//   }
// }
