@import "../styles/constants";
.attend-section {
  // position: relative;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #111745;
  padding-top: 90px;
  // text-align: center;
  margin: auto;
}
.attend-text {
  margin: 5px 0 0 0;
  color: $navcolor;

  p {
    color: $navcolor;
    padding: 10px 10px 0px 10px;
    font-size: 20px;
  }
}

.attendContainer {
  // text-align: center;
  padding: 75px 5% 50px 5%;
  color: white;
  background-color: white;

  h1 {
    padding-top: 10px;
    font-weight: bold;
    color: $orange;
  }

  .attend-img {
    display: block;
    margin: 20px auto;
    text-align: center;
  }
}
.attend-button {
  text-decoration: none;
  background-color: $orange;
  border: none;
  font-size: 20px;
  margin: 0px auto;
  padding: 10px 25px;
  display: inline-block;

  a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
    font-weight: bold;
  }
}
.attend-button:hover {
  background-color: $darkerorange;

  a:hover {
    text-decoration: none;
  }
}
.attend-email {
  text-decoration: none;
  // border-radius: 15px;
  border: none;
  text-align: center;
  width: 400px;
  height: 45px;
  margin: 3px auto 10px auto;
}

.register-button {
  text-decoration: none;
  background-color: $orange;
  border: none;
  font-size: 20px;
  margin: 0px auto;
  padding: 10px 25px;
  display: inline-block;

  a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
    font-weight: bold;
  }
}
.register-button:hover {
  background-color: $darkerorange;

  a:hover {
    text-decoration: none;
  }
}
