.schedule {
  width: 500px;
  margin: 10px auto;
  padding: 40px 25px 25px 25px;

  h1 {
    color: #fd7361;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .day {
    margin-bottom: 25px;
    font-weight: bold;

    table {
      margin-top: 5px;
      font-weight: normal;

      td {
        border: 1px solid #d3d3d3;
        padding: 7px;
      }

      .time {
        width: 25px;
      }
      .title {
        width: 50em;
      }
      .location {
        width: 25px;
      }
    }
  }
}

.display-container {
  width: 1000px;
  margin: auto;
  padding: 10px;

  h1 {
    color: #fd7361;
    font-weight: bold;
  }

  .title {
    font-weight: bold;
  }

  .category,
  .prize {
    font-weight: normal;
    font-style: italic;
    font-size: 13px;
  }

  .description {
    margin-top: 5px;
  }

  .subcontainer {
    padding: 15px;

    @media (max-width: 767px) {
      padding: 25px 100px;
    }

    .title {
      font-weight: bold;
    }
  }

  .subcontainer {
    .stat {
      font-size: 50px;
      text-align: center;
    }

    .stat-details {
      text-align: center;
    }
  }
}

.attendstats {
  padding: 20px 10px;
}
