@import "../../styles/_constants.scss";

.zoom-container {
  height: 100%;
  width: 100%;
  padding: 10px 3%;
  text-align: center;
  margin: auto;

  h1 {
    color: #181d46;
    font-weight: bold;
    text-align: center;
  }

  .carousel div {
    padding: 0;
    margin: auto;
  }
}
