@charset "UTF-8";
@import "~/node_modules/material-design-icons/iconfont/material-icons.css";

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
// Helper
@import "./_constants.scss";

// Components
@import "./nav.scss";
@import "../components/footer/footer.scss";
@import "../components/testimonials/testimonials.scss";
@import "../components/projectHighlights/projecthighlight.scss";
@import "../components/Statistics/statistics.scss";
@import "../components/aboutContainer/aboutItem.scss";
@import "../components/sponsors/sponsor.scss";
@import "../components/AttendPage/attendheader.scss";
// Pages
@import "./home.scss";
@import "./aboutus.scss";
* {
  //   background-color: #808cfb;
  font-family: "Barlow", sans-serif;

  /* background-color: #808cfb; */
}
.page-body {
  //   font-family: Barlow !important;
  font-size: 16px;
}

h1 {
  margin: 0px 0px 10px 0px;
  padding: 0 10px;
}
