.team {
  width: 100%;
  padding: 5% 5% 5% 5%;
}

.team-intro {
  margin: 0 0 40px 0;
}

.member-container {
  margin: 30px 0px;
}

.team-member {
  text-align: center;
}

.member-image {
  width: 275px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}
