@import "../../styles/_constants.scss";

.about-container {
  height: 100%;
  width: 100%;
  padding: 50px 3%;
  text-align: center;
  margin: auto;

  h2 {
    color: white;
    font-weight: 600;
    margin: 1.5em 0;
    font-size: 30px;

    span {
      color: #fd7361;
    }
  }

  p {
    color: white;
    font-weight: 500;
    font-size: 18px;
  }

  .text-section {
    padding: 0 15px 0 0;
    margin: -7% 0 0 0;
  }

  .carousel div {
    padding: 0;
    margin: auto;
  }
}
