@import "../../styles/_constants.scss";

.stats-container {
  background-color: $backgroundcolor;
  padding: 75px 5%;

  h1 {
    display: inline-block;
    color: white;
    font-weight: 600;
  }
  .carousel {
    width: 100%;
    margin: 50px auto;
    // padding-left: 10%;
    // padding-right: 10%;
    // padding-top: 5%;
  }

  .thumbs {
    text-align: center;
  }
  .carousel .thumb img {
    background: none;
    display: inline-block;

    width: 100% !important;
    height: 100% !important;
    margin: auto;
  }
  .carousel .slide {
    background: none;
  }
  .carousel .slide img {
    max-height: 650px;
    width: auto;
    // height: 100%;
    background-color: $backgroundcolor2;

    /* Add this */
    // position: fixed;
    top: 0;
    left: 0;
  }
}
