.stats-container {
  background-color: white;
  padding: 50px 3%;

  h1 {
    display: inline-block;
    color: #041888;
    font-weight: 600;
  }
  .carousel {
    width: 100%;
    margin: auto;
    // padding-left: 10%;
    // padding-right: 10%;
    // padding-top: 5%;
  }
  .carousel .thumb img {
    background: none;

    width: 100% !important;
    height: 100% !important;
  }
  .carousel .slide {
    background: none;
  }
  .carousel .slide img {
    max-height: 630px;
    width: auto;
    // height: 100%;
    background-color: #606bca;

    /* Add this */
    // position: fixed;
    top: 0;
    left: 0;
  }
}
