.footer {
  background-color: #606bca;
  padding: 4%;
  margin: auto;
}

.footer .footer-logo-container {
  width: auto;
  margin: auto;
}

.footer_logo {
  width: 55%;
  margin: auto;
  display: block;
}

.footer .social-media {
  padding: 0 4%;
  margin: auto;
  display: block;
  width: 430px;
}

.footer .sm-icons {
  margin: auto;
}
.footer p {
  text-align: center;
  color: white;
}

.footer a {
  color: white;
}

.footer .sm-icons img {
  height: 2em
}
