.footer {
  background-color: #606bca;
}
.footer_logo {
  width: 55%;
}

.footer .social-media {
  padding-left: 4%;
}

.footer .sm-icons {
  margin: 0 1vw;
}
.footer p {
  text-align: center;
  color: white;
}

.footer a {
  color: white;
}

.footer .sm-icons img {
  height: 2em
}
