@import "../../styles/constants";

.footer {
  background-color: $navcolor;
  padding: 50px 5%;
  margin: auto;

  a {
    color: white;
  }

  .footer-logo-container {
    width: auto;
    color: white;

    img {
      margin-bottom: 20px;
      width: 55%;
      display: block;
    }

    p {
      margin-left: 15px;
    }
  }

  .social-media {
    width: 300px;
    display: block;
    padding-inline-start: inherit;
    float: right;

    .sm-icons {
      padding: 2%;

      img {
        height: 2em;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    .footer-logo-container {
      text-align: center;
      img {
        margin: auto;
      }
    }

    .social-media {
      margin: auto;
      display: block;
      padding-inline-start: inherit;
      float: none;

      .sm-icons {
        margin: auto;
        padding: 2%;
        text-align: center;

        img {
          height: 2em;
        }
      }
    }
  }
}
