.testimonial-container {
  background-color: #808cfb;
  /* background-color: white; */
  padding: 50px 3%;

  h1 {
    font-weight: 600;
    color: white;
  }

  // .bar-sm {
  //   width: 3em;
  //   height: 0.35em;
  //   background-color: #041888;
  //   margin: 0 5px;
  //   padding: 0 10px;
  // }
}

.testimonial {
  margin: 0;
}

.testimonial-pic {
  display: block;
  margin: auto;
}

.testimonial-name {
  color: white;
  text-align: center;
}

.testimonial-text {
  color: rgb(3, 3, 151);
  font-size: 17px;
}
