.testimonial-container {
  background-color: #808cfb;
  /* background-color: white; */
  padding: 80px 30px 80px 50px;
}

.testimonial-container h1 {
  font-weight: 600;
  margin-bottom: 0;
  color: white;
}

.testimonial-container .bar-sm {
  width: 3em;
  height: 0.35em;
  background-color: #041888;
  margin: 10px 0;
}
.testimonial {
  margin: 10px 0 10px 0;
}

.testimonial-pic {
  display: block;
  margin: auto;
}

.testimonial-name {
  color: white;
}

.testimonial-text {
  color: rgb(3, 3, 151);
}
