@import "../../styles/_constants.scss";

.testimonial-container {
  background-color: #808cfb;
  /* background-color: white; */
  padding: 100px 3%;

  h1 {
    font-weight: 600;
    color: $navcolor;
    margin: 0px 0px 25px 40px;
  }

  // .bar-sm {
  //   width: 3em;
  //   height: 0.35em;
  //   background-color: #041888;
  //   margin: 0 5px;
  //   padding: 0 10px;
  // }

  .testimonial {
    padding: 0 50px;
  }
}

.testimonial-head {
  position: absolute;
  margin: -75px 0 0 0;
  color: white;
  background-color: $navcolor;
  padding: 10px 50px 10px 10px;
  width: auto;
  display: inline-block;

  .testimonial-name {
    margin: 0;
    font-weight: bold;
  }

  .testimonial-position {
    margin: 0;
    font-size: 20px;
    color: $testimonialcolor;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.testimonial-pic {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.testimonial-text {
  color: $navcolor;
  font-size: 17px;
  margin-top: 25px;
}
