.mission {
  padding: 0px 3% 0px 3%;
  margin: 0;

  h1 {
    margin-bottom: 50px;
  }

  h2 {
    text-align: center;
  }
}

.aboutus-statement {
  text-align: left !important;
  display: inline-block;
  padding-top: 30px;
}

.mission-statement .bar-sm {
  width: 3em;
  height: 0.35em;
  background-color: #0025f8;
  margin: 1em 0 1.5em 0;
}

.mission-statement {
  text-align: left !important;
  display: inline-block;
  padding-top: 30px;
}

.mission-statement li {
  font-size: 20px;
}
// .missionimage {
//   height: auto;
//   display: block;
//   margin: 0 auto 20px auto;
// }
