@import "../../styles/_constants.scss";

.tracks-container {
  margin: 0;
  padding: 50px 3%;
  margin: 0;

  h1 {
    font-weight: 600;
    color: #ef7060;
  }

  .row {
    padding: 0px;
  }

  .track {
    background-color: white;
    color: $backgroundcolor;
    box-shadow: 0px 0px 5px 1px #ccc;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px;
  }

  .track-head {
    color: $backgroundcolor;
    font-weight: bold;
  }

  .track-title {
    text-decoration: none;
    font-size: 30px;
    margin: auto;
    display: block;
    color: $navcolor;
    font-weight: bold;
  }

  .track-text {
    padding: 8px;
    color: $navcolor;
  }
}
