.tracks-container {
  background-color: #808cfb;
  margin: 0;
  padding: 50px 3%;
  color: white;

  // .bar-sm {
  //   width: 3em;
  //   height: 0.35em;
  //   background-color: #0025f8;
  //   margin: 10px 15px;
  //   padding: 0 10px;
  // }

  h1 {
    font-weight: 600;
    color: #000c54;
    // margin: 0;
    // padding: 0;
  }
}
