@import "../../styles/_constants.scss";

.tracks-container {
  margin: 0;
  padding: 50px 5.5%;
  background-color: $backgroundcolor;


  h1 {
    font-weight: 600;
    color: white;

  }

  .row {
    padding: 0px;
  }

  .track {
    color: $backgroundcolor;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 0px;
  }

  .track-head {
    color: $backgroundcolor;
    font-weight: bold;
  }

  .track-title {
    text-decoration: none;
    margin: auto;
    display: block;
    color: white;
    font-weight: bold;
  }

  .track-text {
    padding-top: 8px;
    padding-right: 25px;
    padding-bottom: 8px;
    padding-left: 0px;
    color: white;
  }

  .challenge-title {
    text-decoration: none;
    margin: auto;
    display: block;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .challenge-text {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 8px;
    padding-left: 0px;
    color: white;
  }
}
