@import "../../styles/_constants.scss";

.sponsors-container {
  h1 {
    font-weight: 600;
    color: white;
  }

  // .bar-sm {
  //   width: 3em;
  //   height: 0.35em;
  //   background-color: #0025f8;
  //   margin: 10px 15px;
  //   padding: 0 10px;
  // }
}

.be-sponsor {
  background-color: #181D46;
  padding: 75px 5% 50px 5%;

  h1 {
    padding: 0;
    margin: 0 0 20px 0;
    color: white;
  }

  .be-sponsor-text {
    margin: 5px 0 0 0;
  }

  p {
    color: white;
    padding: 10px 20% 0px 0px;
    font-size: 16px;
  }

  .sponsor-button {
    text-decoration: none;
    background-color: $orange;
    border: none;
    font-size: 20px;
    margin: 0px auto;
    padding: 10px 25px;
    display: inline-block;

    a {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: white;
      font-weight: bold;
    }
  }
  .sponsor-button:hover {
    background-color: $darkerorange;
  }

  a {
    text-decoration: none;
  }
  .sponsor-photo {
    display: block;
    margin: 10px auto;
    padding: 0;
    text-align: center;
  }
}

.sponsor-gallery {
  padding: 75px 5%;

  h1 {
    margin-bottom: 25px;
    color: $orange;
  }

  .gallery {
    // margin: 15px;
    // border: 1px solid #ccc;
    // float: left;
    // padding-bottom: 5px;
    margin: auto;
    object-fit: scale-down;
  }

  .gallery img {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
  }
}
